@import 'primereact/resources/themes/saga-blue/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

.pager { position: relative; }
.pager .slider { width: 80%; padding-right: 20px; }
.pager .slider .p-slider { margin-top: -15px; }
.pager .page { width: 5%; text-align: center; position: relative;top:-7px;}
.pager .pagesize { width: 14%; float: right; margin-top: -15px;}
.pager .pagesize.fixed { margin-top: -10px; }
.datatable { position:relative; }
.datatable .p-inputtext { width: 100%; }
.datatable .search-input { width: 300px; display: block; float: right; margin-top:-10px;padding-bottom:5px;}
.datatable .search-input .pi-search { margin-top: -12px; }
.datatable .search-input-results { width: 720px; }

.datatable .header-button { display: block; float: left; margin-top: 0px;}
.datatable .p-datatable { clear: both; }

.p-inputgroup .p-dropdown { position: absolute; width: auto;}
.competitions .p-input-icon-left { height: 1.2rem }
.competitions .competition { height: 2.3rem; display: flex;}
.competitions .competition .catdrop { width: 200px; }
.competitions .competition .wpndrop { width: 170px; }

.datatable .search-input-results .evntdrop { width: 350px; }
.datatable .search-input-results .catdrop { width: 200px; }
.datatable .search-input-results .wpndrop { width: 170px; }

.p-dialog-content { position: relative; }
.p-dialog-content label { display: block; width: 8vw; height: 3.5rem; line-height: 2.5rem; font-weight: 700; float: left; clear: both;}
.p-dialog-content div div.input { width: 38vw; float: left; }
.p-dialog-content div div.input .p-inputtext { width: 35vw; }
.p-dialog-content div div.input .p-dropdown { width: 35vw; }
.p-dialog-content div div.input .inputint input { width: 5vw; }

.fencer-dialog .p-dialog-content div div .p-inputgroup .p-inputtext { width: 8vw; }
.fencer-dialog .p-dialog-content div div .p-inputgroup .p-dropdown { width: 8vw; }

.p-datepicker:not(.p-disabled) table td span.p-disabled { 
    background-color: white; 
    color: #666;
}
.p-datepicker:not(.p-disabled) table td span.p-highlight { 
    background: #888; 
    color: #003366; 
}
.p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled) { 
    background: #ccc; 
    color: #003366; 
}
.p-datepicker:not(.p-disabled) table td span:not(.p-disabled):hover {
    background: #888; 
    color:black; 
}
.p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):hover {
    background: #888; 
    color:black; 
}

.p-input-icon-left a {
    padding: 0.2rem 2rem 0rem 2rem;
    display: inline-block;
}

div.table-action {
    display: block;
}

div.table-action i { position: relative; left: 0; top: 0; margin-top: 0; }
div.table-action i a { padding: 0; }

.ranking-select-catwpn { padding-bottom: 10px; }
.ranking-select-catwpn .drop { width: 200px;}
.ranking-results { }
.ranking-results table { border-collapse: collapse; min-width: 500px; width: 100%;}
.ranking-results table thead tr { border: 1px solid black; border-width: 0px 0px 2px 0px; }
.ranking-results table thead tr th { padding: 2px 4px 2px 0px; text-align: left; font-weight: bold; font-size: 14pt; border: 1px solid black; border-width: 0px 0px 2px 0px; text-align: left;}
.ranking-results table td { white-space: nowrap; padding: 1px 4px; }
.ranking-results table.list tbody tr.odd td { background-color: #ddd; }
.ranking-results table tr td.pos { text-align: right; }
.ranking-results table tr td.icon { text-align: center; }
.ranking-results table tr.counting { background-color: #003366; color: white; }
.ranking-results table tr.notcounting { background-color: #ff7777; color: #003366; }

.ranking-results .personaldetail { padding: 10px 5px; position: relative; width: 100%; }
.ranking-results .personaldetail .fencer span { font-weight: bold;}
.ranking-results .personaldetail .fencer .abbr { padding-left: 20px; }
.ranking-results .personaldetail .actions { float: right; margin-top: -1.5rem; padding-right: 20px; }

.front-ranking select.wpndrop, .front-ranking select.catdrop { padding: 2px 10px; } 

.front-ranking .event div.competition div { display: inline-block }
.front-ranking .event div.competition div.cat { width: 8rem; margin-left: 2rem;}
.front-ranking .event div.competition div.wpn { width: 8rem; }
.front-ranking .event div.competition div.opens { width: 8rem; }

.resultranking tbody td { vertical-align: middle; }
.resultranking tbody td.nok { background-color: #f99; }
.resultranking tbody td.und { background-color: #ff9; }
.resultranking tbody td.ok { background-color: #9f9; }
.resultranking tbody td.part { background-color: #fa4; }
.resultranking tbody .right { float: right; padding: 0; width: auto; height: 18px;}
.resultranking tbody td span.item { padding-top: 0px;}

.suggestiontable { padding-top: 8px; border-spacing: 0px; border-collapse: collapse; }
.suggestiontable tr.selected td{ background-color: #9f9; }
.suggestiontable tr.selected td.icon { background-color: none; }
.suggestiontable tr td { padding: 2px 4px; }