@import 'primereact/resources/themes/saga-blue/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

.bordertop { border-top-width: 1px; border-style: solid; border-color: black;}
.topmargin { padding-top: 10px; }
.textcenter { text-align: center !important; }
.textright { text-align: right !important; }
.textleft { text-align: left !important; }
.vertcenter  { vertical-align: center; align-items: center; display:flex;}
.clearfix:after {display:table;content:"";clear:both;}
.blue { color: #66f; }
.red { color: #f00; }
.green { color: #4c4; }
.bgred { background-color: #f99; }
.bggreen { background-color: #4c4; }
.right { float: right; }
.cright { float: right; clear: both; }
.smallprint { font-size: 0.6rem; }

.live-feed {
    background-image: url('./btn_live.png');
    width:111px;
    height: 111px;
}
.entry-content table thead th.textcenter { text-align: center; }
table.style-stripes > tbody tr:nth-child(2n+1) {
    background-color: #dde9f6;
}
table.style-stripes-body > tbody:nth-child(2n+1) tr {
    background-color: #dde9f6;
}
table.compact { width: auto; }

.pager { position: relative; }
.pager .slider { width: 80%; padding-right: 20px; }
.pager .slider .p-slider { margin-top: -15px; }
.pager .page { width: 5%; text-align: center; position: relative;top:-7px;}
.pager .pagesize { width: 14%; float: right; margin-top: -15px;}
.pager .pagesize.fixed { margin-top: -10px; }
.datatable { position:relative; }
.datatable .p-inputtext { width: 100%; }
.datatable .search-input { width: 300px; display: block; float: right; margin-top:-10px;padding-bottom:5px;}
.datatable .search-input .pi-search { margin-top: -12px; }
.datatable .search-input-results { width: 720px; }

.datatable .header-button { display: block; float: left; margin-top: 0px;}
.datatable .p-datatable { clear: both; }

.p-inputgroup .p-dropdown { position: absolute; width: auto;}
.competitions .p-input-icon-left { height: 1.2rem }
.competitions .competition { height: 2.3rem; display: flex;}
.competitions .competition .catdrop { width: 200px; }
.competitions .competition .wpndrop { width: 170px; }
.competitions .competition .p-calendar-span { width: 232px;}

.datatable .search-input-results .evntdrop { width: 350px; }
.datatable .search-input-results .catdrop { width: 200px; }
.datatable .search-input-results .wpndrop { width: 170px; }

/* generic input width, old-style */
.p-dialog-content { position: relative; }
.p-dialog-content label { display: block; width: 8vw; height: 3.5rem; line-height: 2.5rem; font-weight: 700; float: left; clear: both;}
.p-dialog-content label.header { width: 100%; }
.p-dialog-content label.checkbox { float: none; clear: none; width: auto; display: inline-flex; padding-left: 10px; padding-top: 9px;}
.p-dialog-content div div.input { width: 38vw; float: left; display: flex;align-items: center; }
.p-dialog-content div div.input .p-inputtext { width: 35vw; }
.p-dialog-content div div.input .p-dropdown { width: 35vw; }
.p-dialog-content div div.input .p-checkbox { vertical-align: middle; }
.p-dialog-content div div.input .inputint input { width: 5vw; }

/* specific settings for fencer-dialog */
.fencer-dialog .p-dialog-content div div .p-inputgroup .p-inputtext { width: 8vw; }
.fencer-dialog .p-dialog-content div div .p-inputgroup .p-dropdown { width: 10vw; }
.fencer-select-dialog .p-dialog-content div div.input .p-dropdown { width: 10vw; line-height: 1rem; }

.p-datepicker:not(.p-disabled) table td span.p-disabled { 
    background-color: white; 
    color: #666;
}
.p-datepicker:not(.p-disabled) table td span.p-highlight { 
    background: #888; 
    color: #003366; 
}
.p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled) { 
    background: #ccc; 
    color: #003366; 
}
.p-datepicker:not(.p-disabled) table td span:not(.p-disabled):hover {
    background: #888; 
    color:black; 
}
.p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):hover {
    background: #888; 
    color:black; 
}
.p-multiselect-panel, .p-colorpicker-panel, .p-dropdown-panel { z-index: 1001000 !important;}

.p-input-icon-left a {
    padding: 0.2rem 2rem 0rem 2rem;
    display: inline-block;
}

div.table-action {
    display: block;
}

div.table-action i { position: relative; left: 0; top: 0; margin-top: 0; }
div.table-action i a { padding: 0; }

.ranking-select-catwpn { padding-bottom: 10px; }
.ranking-select-catwpn .drop { width: 200px;}
.ranking-results { }
.ranking-results table { border-collapse: collapse; min-width: 500px; width: 100%;}
.ranking-results table thead tr { border: 1px solid black; border-width: 0px 0px 2px 0px; }
.ranking-results table thead tr th { padding: 2px 4px 2px 0px; text-align: left; font-weight: bold; font-size: 14pt; border: 1px solid black; border-width: 0px 0px 2px 0px; text-align: left;}
.ranking-results table td { white-space: nowrap; padding: 1px 4px; }
.ranking-results table.list tbody tr.odd td { background-color: #ddd; }
.ranking-results table thead th.pos { width: 1%; white-space:nowrap;}
.ranking-results table thead th i.pi.active { color: #003366; }
.ranking-results table tr td.pos { text-align: right; }
.ranking-results table tr td.icon { text-align: center; }
table tr.counting { background-color: #86b9ec; color: black; }
table tr.notcounting { background-color: #ff9999; color: #003366; }

.personaldetail { padding: 10px 5px; position: relative; width: 100%; }
.personaldetail .fencer span { font-weight: bold;}
.personaldetail .fencer .firstname { padding-left: 10px; }
.personaldetail .fencer .abbr { padding-left: 20px; }
.personaldetail .actions { float: right; margin-top: -1.5rem; padding-right: 20px; }

.front-ranking select.wpndrop, .front-ranking select.catdrop { padding: 2px 10px; } 

.front-ranking .event div.competition div { display: inline-block }
.front-ranking .event div.competition div.cat { width: 8rem; margin-left: 2rem;}
.front-ranking .event div.competition div.wpn { width: 8rem; }
.front-ranking .event div.competition div.opens { width: 8rem; }

.resultranking tbody td { vertical-align: middle; }
.resultranking tbody td.nok { background-color: #f99; }
.resultranking tbody td.und { background-color: #ff9; }
.resultranking tbody td.ok { background-color: #9f9; }
.resultranking tbody td.part { background-color: #fa4; }
.resultranking tbody .right { float: right; padding: 0; width: auto; height: 18px;}
.resultranking tbody td span.item { padding-top: 0px;}

.suggestiontable { padding-top: 8px; border-spacing: 0px; border-collapse: collapse; }
.suggestiontable tr.selected td{ background-color: #9f9; }
.suggestiontable tr.selected td.icon { background-color: none; }
.suggestiontable tr td { padding: 2px 4px; }

#evfregistration-root .sideevent { position: relative; width: 100%; height: 100%; padding-bottom: 20px;}
#evfregistration-root .sideevent:after { content:"";display:table;clear:both; }
#evfregistration-root .formelement { clear: both; }
#evfregistration-root .p-dialog-content .sideevent label { height: 1.5rem; line-height: 1.5rem; }
.sideevent-description td { font-style: italic; padding-left: 5px;}

#evfregistration-frontend-root table { line-height: 1.5rem; }
.entry-content #evfregistration-frontend-root ul li { margin-left: 0.5em; }

.fencer-select-dialog .p-dialog-content .state-icons { width: 2rem; }
.fencer-select-dialog .fencer-select-events { width: auto; }
.fencer-select-dialog .fencer-select-events td {
    width: auto;
    white-space: nowrap;
    padding: 2px 5px;
}
.fencer-select-dialog .fencer-select-events td.expand-cell { width: 99%; }
.fencer-select-dialog .fencer-select-events td,
.fencer-select-dialog .fencer-select-events td  .p-checkbox { vertical-align: middle; }
.fencer-select-dialog .fencer-select-events tbody.athlete { background-color: #9f9; }
.incorrect-cat, table.style-stripes > tbody tr.incorrect-cat { background-color: #f99; }

#evfregistration-frontend-root .center { width: 100%; margin: 0px auto; text-align: center; align-items: center; }

#evfregistration-frontend-root .cashier .details-close { display: none; }
#evfregistration-frontend-root .cashier .details-open { display: auto; }
.entry-content #evfregistration-frontend-root table { border-width: 0; }
.entry-content #evfregistration-frontend-root .state-icons .pi { display: block; width: 2rem; }
#evfregistration-frontend-root .payment-details { font-size: 1.1rem; line-height: 1.2rem; width: auto;}
#evfregistration-frontend-root .payment-details .label { font-weight: bold; }

#evfregistration-frontend-root .accreditation { width: 100% ; }
#evfregistration-frontend-root .accreditation img { width: 413px; margin: 0 auto 0 auto; display: block;}

.templateeditor span.pi { font-size: 8pt; }
.templateeditor .canvas span.pi {z-index: 1000; display: block; margin-right: -10px; float: right;}
.templateeditor .toolbox { display: block; position: relative; width: 250px; float: left; padding-right: 10px; background-color: white;}
.templateeditor .toolbox .component { display: block; width: 240px; margin: 2px 2px; background-color: #eee; padding: 2px 5px;}
.templateeditor .canvas { display:block; position: relative; width: 420px;height: 594px; background-color: #eee; float: left;}
.templateeditor .debug { display: block; position: relative; width: 250px; float: left; background-color: #f8a;}
.templateeditor .canvas .canvasmargins {
    display: block;
    position: absolute;
    width: 380px;
    height: 554px;
    top: 20px;
    left: 20px;
    background-color: #888;
    opacity: 0.2;
}
.templateeditor .canvas .element { 
    display: block;
    border: 1px solid black;
    line-height: 1.1em;
    width: 100%;
    height: 100%;
    font-size: inherit;
    font-style: inherit;
}
.templateeditor .canvas .qrelement { line-height: inherit; }
.templateeditor .canvas .elementwrapper { width: auto; height:auto; position: absolute;}
.templateeditor .canvas .element.orgdecl,
.templateeditor .canvas .element.roles,
.templateeditor .canvas .element.dates,
.templateeditor .canvas .element.accid,
.templateeditor .canvas .element.name { width: 100%; height: 100%; }

.templateeditor .canvas .element.accid .qrcode { width: 100%; position: relative; }
.templateeditor .canvas .element.accid .qrcode:after { content: ""; display: block; padding-bottom: 100%; }
.templateeditor .canvas .element.accid .qrcode div { position: absolute; width: 100%; height: 100%; background-color: white; }
.templateeditor .settings { display: block; float: left; width: 250px; position: relative; margin-left: 15px;}
.templateeditor .textelement p { margin: 0;}

.templateeditor .photoid { 
    background-image: url('photoid.png'); 
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.templateeditor .cntflag { 
    background-image: url('euflag.png'); 
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.templateeditor .image {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.inputform label { display: block; width: 100px; height: 40px; line-height: 40px; font-weight: 700; float: left; clear: both;}
.inputform label.checkbox { float: right; clear: none; width: auto; }
.inputform.wide label {width: 20%; }
.inputform div { line-height: 40px; }
.inputform div div.input { width: 149px; float: left; }
.inputform.wide div div.input  { width: 80%; }
.inputform div div.input .p-inputtext { width: 148px; }
.inputform div div.input .p-dropdown { width: 148px; }
.inputform div div.input .inputint input { width: 60px; }
.inputform.wide div div.input img { width: auto; }

.inputform .p-inputfield-radiobutton label { line-height: 25px; font-size: 1em; float: none; width: auto; height: auto; display: inline; font-weight: normal; padding-left: 10px;}
.inputform .p-inputfield-radiobutton .p-radiobutton {vertical-align: top; }
.inputform .p-checkbox { vertical-align: middle; }
.inputform .p-inputswitch { vertical-align: middle; }

.inputform div.input table tr.header { border-width: 0 0 2px 0; border-style: solid; border-color: black; }

#evfregistration-frontend-root .filter-event { width: 45%; float: left; }
.filter-event .p-checkbox { vertical-align: middle; }
.filter-title { background-color: #eee; }
.filter-header { background-color: #eee; padding: 5px;}